<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <h1><%= title%></h1>
        <form action="/create" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm-password" placeholder="Confirm-password">
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>