*{
    margin: 0px;
}
#title{
    font-size: 2.5rem;
    font-family: sans-serif;
}
/* description box */
#des{
    margin-top: 0px;
}
#des-tit{
    color: rgb(141, 134, 134);
}
#des-inp{
    margin: 0px 1vw;
    border: none;
    width: 90vw;
    height: 10vh;
   
    cursor: pointer;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  rgb(231, 247, 248);
    border-radius: 15px;
    padding: 0px 8px;
}
/* category box */
#cat-cont{
    position: absolute;
    width: 50vw;
}
#drop{
    position: absolute;
    right: 5vw;
    top: 9vh;
}
/* date box */
#date-cont{
    position: absolute;
    left: 50vw;
    /* border: 2px solid red; */
    width: 50vw;
}
#date-inp{
    position: absolute;
    top: 9vh;
    border: none;
    margin-left: 1vw;
    width: 40vw;
    height: 6.8vh;
    cursor: pointer;
    background-color: rgb(231, 247, 248);
    border-radius: 15px;
    padding:0px 28px;
}
#buttons{
    display: flex;
    margin: 0px 20%;
    position: relative;
    top: 20vh;
    left: 15vw;
}
#add{
    position: relative;
    font-size: 1.9rem;
    padding: 0px 35px;
}
#delete{
    font-size: 1.6rem;
}
#category{
    position: absolute;
    top: 9vh;
    border: none;
    width: 45vw;
    margin-left: 1vw;
    background-color: rgb(231, 247, 248);
    border-radius: 15px;
    padding:4px 25px;
    font-size: 1.4rem;
    font-family: serif;
}
/* items */
#items{
    position: relative;
    top: 30vh;
    display: flex;
}
#list{
    margin: 0px 2vh;
    background-color: rgb(253, 248, 242);
    list-style: none;
    padding-left: 20px;
    border-radius: 20px;
    width: 95vw;
}
#des-w{
    margin-left: 5vw;
    font-size: 1.5rem;
    font-weight: 400;
}
#suit{
    margin-right: 10px;
}
#cat-w{
   color: deeppink;
   font-weight: 800;
}
#date{
    font-family: sans-serif;
    color: darkred;
    margin-top: 4px;
}